<app-menu></app-menu>
<div class='component-content'>
	<div>
		<span class='component-title'>[{{title}}]</span>
	</div>
  <p *ngIf='!prli'>Loading...</p>
    <div *ngIf='prli'>
        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="product">Product:</label>
          <div class='col-sm-6 select-list'>
            <select [(ngModel)]='prli.product' [compareWith]='compareFn' class='form-control'name='Product' id='prli-Product'>
              <option *ngFor="let product of products" [ngValue]="product">
                {{product.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="quantity">Quantity:</label>
          <input [(ngModel)]='prli.quantity' name = 'Quantity' type="number" class="form-control col-sm-6" id="quantity" aria-describedby="quantityHelp" placeholder="Quantity">
          <small id="quantityHelp" class="form-text text-muted col-sm-2">Line Item Quantity</small>        
        </div>
      <div class='form-group'>
        <button (click)='create()' class='btn btn-primary'>Create</button>
      </div>  
	</div>
</div>