<app-menu></app-menu>
<div class='component-content'>
    <div class = 'lefthalf'>
      <span class='component-title'>[{{title}}] </span>
    </div>
  </div>
  <p *ngIf='!requests'>Loading ...</p>
  <table class="table table-sm" *ngIf='requests'>
    <tr>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('id')"><u>Id</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('user')"><u>User</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('description')"><u>Description</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('status')"><u>Status</u></a></th>
      <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="sortBy('total')"><u>Total</u></a></th>
      <th>Action</th>
    </tr>
    <tr *ngFor='let request of requests'>
      <td *ngIf="(request.status==='Submitted' || request.status==='Resubmitted') && request.user.userName !== user.userName">{{request.id}}</td>
      <td *ngIf="(request.status==='Submitted' || request.status==='Resubmitted') && request.user.userName !== user.userName">{{request.user.lastName}}, {{request.user.firstName}}</td>
      <td *ngIf="(request.status==='Submitted' || request.status==='Resubmitted') && request.user.userName !== user.userName">{{request.description}}</td>
      <td *ngIf="(request.status==='Submitted' || request.status==='Resubmitted') && request.user.userName !== user.userName">{{request.status}}</td>
      <td *ngIf="(request.status==='Submitted' || request.status==='Resubmitted') && request.user.userName !== user.userName">{{request.total}}</td>
      <td *ngIf="(request.status==='Submitted' || request.status==='Resubmitted') && request.user.userName !== user.userName" class='action'>
        <a routerLink = '/purchase-requests/approve/{{request.id}}'><img src='assets/review.png' width='20' height='20' title='Review'></a>     
      </td>
    </tr> 
  </table>